<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>cash.grayson.soundctl</string>
	<key>CFBundleName</key>
	<string>soundctl</string>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>soundctl connects to paired Bluetooth audio devices to set them as the active input or output.</string>
</dict>
</plist>
